<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
            <div th:if="${companies.size() != 0}" th:each="c : ${companies}" th:object="${c}"
                 class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle">
                <h2 th:text="|Company: *{name}|"></h2>
                <h4 th:text="|Town: *{town}|"></h4>
                <h4 th:text="|Description: ${#strings.substring(c.description, 0, 5)} ...|"></h4>
                <h4><a class="btn-block" th:href="@{/companies/details/{id}(id = *{id})}">Detail info</a>
                </h4>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>