<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center">
                <div class="justify-content-center">
                    <h1>Company Details</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 bg-dark"><img src="/pic/company.png" height="350px"></div>
                    <div class="col-md-6 bg-dark">
                        <h2>Company</h2>
                        <h4>Name: {name}</h4>
                        <h4>Town: {town}</h4>
                        <h4>Description: {description}</h4>
                        <h4>Budget: {budget}</h4>
                        <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                                     href="/">Delete company</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>