<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All employees</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
                <div th:each="e : ${employees}" th:object="${e}" class="col-md-4 d-flex flex-column bg-text mb-3 rounded">
                    <h2 th:text="|Full name: *{firstName} *{lastName}|"></h2>
                    <h4 th:text="|Job title: *{jobTitle}|"></h4>
                    <h4 th:text="|Birth Date: *{birthday}|"></h4>
                    <h4><a class="btn-block" th:href="@{/employees/details/{id}(id = *{id})}">Detail info</a></h4>
                </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>