<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<th:block th:include="~{fragments/navbar}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <main class="jumbotron text-center rounded col-md-12 align-self-center">
            <div class="justify-content-center">
                <h1>Add Employee</h1>
            </div>
            <form th:action="@{/employees/add}" th:method="POST" class="m-md-auto w-50 text-center" th:object="${employeeAddBindingModel}">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input th:field="*{firstName}" th:errorclass="bg-danger" type="text" class="form-control text-center" id="firstName" aria-describedby="firstName" name="firstName" />
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input th:field="*{lastName}" th:errorclass="bg-danger" type="text" class="form-control text-center" id="lastName" aria-describedby="lastName" name="lastName"/>
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                </div>
                <fieldset class="form-group">
                    <legend>Choose Education Level</legend>
                    <div th:each="el : ${T(app.linkedout.domain.entities.enums.EducationalLevelEnum).values()}" class="form-check">
                        <label class="form-check-label">
                            <input th:field="*{educationLevel}" th:errorclass="bg-danger" type="radio" class="form-check-input" th:value="${el}" th:text="${#strings.capitalize(el.toString().toLowerCase())}" name="educationLevel"/>
                        </label>
                    </div>
                    <small th:if="${#fields.hasErrors('educationLevel')}" th:errors="*{educationLevel}"></small>
					</fieldset>

                <div class="form-group">
                    <label for="company"><h5>All available companies</h5></label>
                    <select th:field="*{companyName}" th:errorclass="bg-danger" multiple="false" class="form-control text-center" id="company" name="company">
                        <option th:each="c : ${companies}" th:value="${c.name}" th:text="${c.name}"></option>
                    </select>
                    <small th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></small>
				</div>

                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input th:field="*{jobTitle}" th:errorclass="bg-danger" type="text" class="form-control text-center" id="jobTitle" aria-describedby="jobTitle" name="jobTitle" />
                    <small th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></small>
                </div>

                <div class="form-group">
                    <label for="birthday">Birth Date</label>
                    <input th:field="*{birthday}" th:errorclass="bg-danger" type="date" class="form-control text-center" id="birthday" aria-describedby="birthday" name="birthday" />
                    <small th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></small>
                </div>

                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input th:field="*{salary}" th:errorclass="bg-danger" type="number" min="0" class="form-control text-center" id="salary"
					aria-describedby="salary" name="salary"/>
                    <small th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></small>
                </div>

                <button type="submit" class="btn btn-secondary">Add Employee</button>
            </form>
        </main>
    </div>
</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>
</html>